*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: 	#e5e5cc;
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 67%;
    background-color: #b3b396b9;
    /* background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1645231881968-9c98338ee28d?q=80&w=1938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color:#82827a3a ;
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color:green; */
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 8%;
    top: 50%;
    transform: translate(0, -50%);
}
#text-div>h1{
    font-size: 90px;
    font-family: gilroy;
    font-weight: 800;
    line-height: 78px;
    color: white;
    letter-spacing: 7px;
    text-transform: uppercase;
}
#small-image{
    height: 400px;
    width: 300px;
    position: absolute;
    /* background-color: aqua; */
    background-image: url(https://media.istockphoto.com/id/1477381095/photo/little-cute-blond-girl-with-raspberries-in-her-fingers-different-emotions-indoor.jpg?s=612x612&w=0&k=20&c=jH066J90racRc3URbVIufgW2EYFY3IKxkL1lTCMZCxQ=);
    top: 50%;
    background-size: cover;
    background-position:center;
    right: 5%;
    transform: translate(0,-50%);

}
#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -56%;
    top: -5%;
    transform-origin: 0% 0%;
    /* width: 100%; */
    /* background-color: red; */
}
#vertical-text h1{
        font-size: 70px;
        font-weight: 900;
        font-family: monument;
       text-transform: uppercase;

        color: transparent;
        letter-spacing: 15px;
        -webkit-text-stroke-color:  #fff;
        -webkit-text-stroke-width: 2px;
}
#nav{
    position: absolute;
    /* background-color: red; */
    width: 450px;
    left: 7%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 60px;
}
#nav h5{
    font-size: 20px;
    font-family: gilroy;
    color: #fff;
}